# Exclude many things

.minecraft/mods/*
.minecraft/.probe/*
.minecraft/crash-reports/*
.minecraft/ESM/*
.minecraft/local/*
.minecraft/logs/*
.minecraft/saves/*
.minecraft/screenshots/*
instance.cfg
.minecraft/kubejs/config/*
.minecraft/resourcepacks/*
.minecraft/.vscode/*
.minecraft/options.txt
.minecraft/rhino*
.minecraft/patchouli*
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/.qmenu*
.minecraft/icon.png
.minecraft/kubejs/README.txt
.minecraft/config/jei
.minecraft/kubejs/config